<div
  class="container h-screen flex align-content-center justify-content-center"
>
<div *ngIf="loading" class="flex align-items-center spinner-overlay z-5">
  <p-progressSpinner ariaLabel="loading" />
</div>
  <p-card
    header="Reset Password"
    class="flex align-items-center"
    [style]="{ width: '500px' }"
  >
    <form class="forgot-form" (submit)="onSubmit()" [formGroup]="emailForm">
      <p-floatLabel>
        <input
          pInputText
          type="email"
          formControlName="email"
          required
          class="w-full"
          id="email"
        />
        <label for="email">Enter your email</label>
        <small id="email-help">
          Enter your email to reset your password.
        </small>
      </p-floatLabel>

      <div class="flex justify-content-between mt-4">
        <p-button
          type="submit"
          label="Send Reset Password"
          icon="pi pi-envelope"
          class="p-button-primary"
          [disabled]="emailForm.invalid"
          [raised]="true"
        />
        <p-button
          label="Sign-In"
          icon="pi pi-sign-in"
          (onClick)="navigateToSignIn()"
          [raised]="true"
          severity="secondary"
        />
      </div>
    </form>
  </p-card>
  <p-toast></p-toast>
</div>
