.container {
  position: relative;
  width: 100%;
  height: 100%; /* Ajusta según el tamaño deseado */
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/istockphoto-1484852942-612x612.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: 1;
}
.forgot-password-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  position: relative;
  z-index: 2;
}
.forgot-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;

  /* Estilo personalizado para los campos */
  .mat-form-field-infix {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
