<div class="footer">
    <!---->
    <!-- Cards with media area -->
    <div id="cards">
        <mat-card class="card" color="primary" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
               
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" color="primary" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
               
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" color="primary" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
               
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
          
          
        <div class="cb"></div>
    </div>
    <div id="social">
      <h1>© 2024 LogistiX </h1>
    </div>
  
</div>
