<div class="footer p-p-3 p-shadow-3">
  <!-- Cards with media area -->
  <div id="cards" class="p-d-flex p-flex-wrap p-jc-center">
    <p-card class="card p-col-12 p-md-6 p-lg-4 p-m-2" header="Shiba Inu" subheader="Small">
      <ng-template pTemplate="content">
        <p>Contenido del Shiba Inu</p>
      </ng-template>
    </p-card>
    
    <p-card class="card p-col-12 p-md-6 p-lg-4 p-m-2" header="Shiba Inu" subheader="Small">
      <ng-template pTemplate="content">
        <p>Contenido del Shiba Inu</p>
      </ng-template>
    </p-card>
    
    <p-card class="card p-col-12 p-md-6 p-lg-4 p-m-2" header="Shiba Inu" subheader="Small">
      <ng-template pTemplate="content">
        <p>Contenido del Shiba Inu</p>
      </ng-template>
    </p-card>
  </div>

  <div id="social" class="p-mt-3">
    <h1>© 2024 LogistiX</h1>
  </div>
</div>

