<div
  class="container h-screen flex align-content-center justify-content-center"
>
<div *ngIf="loading" class="flex align-items-center spinner-overlay z-5">
  <p-progressSpinner ariaLabel="loading" />
</div>
  <p-card
    header="Sign-In"
    class="flex align-items-center"
    [style]="{ width: '500px' }"
  >
    <form class="sign-in-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <p-floatLabel>
          <input
            pInputText
            type="email"
            formControlName="email"
            required
            class="w-full"
            id="email"
          />
          <label for="email">Enter your email</label>
        </p-floatLabel>
      </div>
      <div class="mb-3 w-full">
        <p-password
          type="password"
          formControlName="password"
          required
          [toggleMask]="true"
          placeholder="Enter your password"
        >
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>At least one symbol</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div class="flex justify-content-between mb-4">
        <p-button
          type="submit"
          label="Sign-In"
          icon="pi pi-sign-in"
          class="p-button-primary"
          [disabled]="signInForm.invalid"
          [raised]="true"
        />
        <p-button
          label="Sign-Up"
          icon="pi pi-user"
          (onClick)="navigateToSignUp()"
          [raised]="true"
          severity="secondary"
        />
      </div>
    </form>
      <div class="text-center mb-3">
        <a routerLink="/forgot-password" 
        >Forgot Password?</a
      >
      </div>
      <!--<div class="mb-2">
        <button
        pButton
        label="Sign in with Google"
        icon="pi pi-google"
        severity="danger"
        [rounded]="true"
        [raised]="true"
        class="w-full"
        (click)="signInWithGoogle()"
      ></button>
      </div>
      <div>
        <button pButton
        label="Sign in with Facebook"
        icon="pi pi-facebook"
        [rounded]="true"
        [raised]="true"
        class="w-full"
        (click)="signInWithFacebook()"
      ></button>
      </div>-->
  </p-card>
  <p-toast />
</div>
