<div class="container">
  <div class="sign-in-container">
    <form class="sign-in-form">
      <h1><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;Sign-In</h1>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" name="email" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" required>
      </mat-form-field>
      
      
      <div class="buttons-container">
        <button mat-raised-button color="primary" class="login-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;Sign-In</button>
        <button mat-raised-button color="secundary" routerLink="/sign-up"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Sign-Up</button>
      </div>
      <a class="forgot-password-link" routerLink="/forgot-password">Forgot Password?</a>
      <button mat-raised-button color="accent" class="login-social-btn" style="width: 100%;">
        <mat-icon svgIcon="google" class="icon"></mat-icon><i class="fa-brands fa-google"></i>&nbsp; Sign in with Google
      </button>
  
      <button mat-raised-button color="primary" class="login-social-btn" style="width: 100%;">
        <mat-icon svgIcon="facebook" class="icon"></mat-icon><i class="fa-brands fa-facebook"></i>&nbsp; Sign in with Facebook
      </button>
     
    </form>
  </div>
</div>
  