<div class="row">
    <div *ngIf="loading" class="flex align-items-center spinner-overlay z-5">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    <div class="col-12">
        <p-card styleClass="bg-cyan-100"header="Sales">
            <div class="row mb-2 mx-2">
                <button pButton type="button" icon="pi pi-plus" class="p-button mb-2 mx-2" (click)="showDialogCreate()">
                </button>
                <p-dropdown [options]="statusArray"  [(ngModel)]="selectedStatus" (onChange)="onSortChange($event)" placeholder="Sort by status">
                </p-dropdown>
                
                <button pButton icon="pi pi-times" class="p-button-danger ml-2 mb-2" (click)="clearFilters()"></button>

                <span class="p-input-icon-left ml-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search by name" [(ngModel)]="searchTerm"
                        (input)="filterSale()" />
                </span>
            </div>
            <div class="h-40rem overflow-y-scroll">
                <p-dataView [value]="filteredSales" [rows]="5" [paginator]="true" [sortField]="sortField"
                    [sortOrder]="sortOrder">
                    <ng-template let-sales pTemplate="list">
                        <div *ngFor="let sale of sales; let first = first" class="p-dataview-list">
                            <div
                                class="lg:flex p-3 mx-2 my-3 gap-4 border-round  bg-teal-200 shadow-2">
                                
                                <div class="flex flex-1 gap-6">
                                    <div class="flex gap-2">
                                        <div>
                                            <h2>{{ sale.name }}</h2>
                                            <div class=" mb-2 mt-2 text-sm">
                                                {{ sale.saleDate }}</div>
                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="flex align-items-center flex-1 gap-6">
                                    <div class="flex gap-2">
                                        <div>
                                            <span class="font-semibold text-lg">Payment Method:{{ sale.paymentMethod }}</span>
                                            
                                            <div class=" font-medium mt-2 text-sm">
                                                <p-tag (click)="showDialogUpdateStatus(sale._id)" [severity]="
                                                sale.status === 'COMPLETED' ? 'success' : sale.status==='PENDING' ? 'warning' : 'danger'
                                                " [value]="sale.status" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex align-items-end text-right  flex-1 gap-6">
                                    <div class="flex gap-2">
                                        <div>
                                            <h2>Total: {{sale.totalAmount | currency: 'EUR'}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex lg:align-items-end justify-content-between text-right">
                                    <button pButton type="button" icon="pi pi-file-pdf"
                                        class=" p-button-danger p-button-rounded mr-2" (click)="generatePDF(sale._id)">
                                    </button>
                                    <button pButton type="button" icon="pi pi-pencil"
                                        class=" p-button-warning p-button-rounded mr-2" (click)="showDialogUpdate(sale._id)">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="empty">
                        <p>No sales available</p>
                    </ng-template>
                </p-dataView>
            </div>
        </p-card>
    </div>
    <p-toast />
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div
                    class="border-circle bg-yellow-400 inline-flex justify-content-center align-items-center h-6rem w-6rem">
                    <i class="{{message.icon}} text-5xl "></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button pButton label="Accept" (click)="cd.accept()" class="w-8rem">
                    </button>
                    <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
    <p-dialog header="Create Sale" [modal]="true" [(visible)]="visible" [style]="{ width: '70rem' }">
        <form [formGroup]="createUptForm" (ngSubmit)="createSale()">
            <span class="p-text-secondary block mb-3">Create a new sale</span>
            <div class="row flex">
                <div class="col-6 mb-3">
                    <textarea rows="5" styleClass="w-full mb-3" cols="34" pInputTextarea formControlName="notes"
                        placeholder="Notes"></textarea>
                </div>
                <div class=" col-6 mb-3">
                    <p-dropdown styleClass="w-full mb-3" [options]="paymentMethod" formControlName="paymentMethod" placeholder="Payment Method">
                    </p-dropdown>
                
                </div>
            </div>
            <div class="row">
                <p-pickList 
                [source]="sourceProducts" 
                [target]="targetProducts" 
                sourceHeader="Available" 
                targetHeader="Selected" 
                [dragdrop]="true" 
                [responsive]="true" 
                [sourceStyle]="{ height: '20rem' }"
                [targetStyle]="{ height: '20rem' }"
                breakpoint="1400px"
                (onMoveToTarget)="initializeQuantities($event)">
                >
                    <ng-template let-product pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <img 
                                class="w-4rem shadow-2 flex-shrink-0 border-round" 
                                src="{{ product.img }}" 
                                alt="{{product.name}}" />
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ product.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>
                                        {{ product.category.name }} - {{product.brand.name}}
                                    </span>
                                    <p-inputNumber [(ngModel)]="quantities[product.id]" 
                                    [ngModelOptions]="{standalone: true}" 
                                    [min]="0" 
                                    [max]="100" 
                                    (onBlur)="addCuantityToProduct($event, product)"
                                    inputId="quantity" 
                                    [style]="{ width: '5rem' }" />
                                </div>
                            </div>
                            <span class="font-bold text-900">
                                {{product.total | currency:'EUR' }}
                            </span>
                        </div>
                    </ng-template>
            </p-pickList>
            </div>

            <div class="flex justify-content-between gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" type="submit" />
            </div>
        </form>
    </p-dialog>
    <p-dialog header="Update sale" [modal]="true" [(visible)]="visibleUpt" [style]="{ width: '70rem' }">
        <form [formGroup]="createUptForm" (ngSubmit)="updateSale(id)">
            <span class="p-text-secondary block mb-3">Edit sale</span>
            <div class="row flex">
                <div class="col-6 mb-3">
                    <textarea rows="5" styleClass="w-full mb-3" cols="34" pInputTextarea formControlName="notes"
                        placeholder="Notes"></textarea>
                </div>
                <div class=" col-6 mb-3">
                    <p-dropdown styleClass="w-full mb-3" [options]="paymentMethod" formControlName="paymentMethod" placeholder="Payment Method">
                    </p-dropdown>
                
                </div>
            </div>
            <div class="row">
                <p-pickList 
                [source]="sourceProducts" 
                [target]="targetProducts" 
                sourceHeader="Available" 
                targetHeader="Selected" 
                [dragdrop]="true" 
                [responsive]="true" 
                [sourceStyle]="{ height: '20rem' }"
                [targetStyle]="{ height: '20rem' }"
                breakpoint="1400px"
                (onMoveToTarget)="initializeQuantities($event)">
                >
                    <ng-template let-product pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <img 
                                class="w-4rem shadow-2 flex-shrink-0 border-round" 
                                src="{{ product.img }}" 
                                alt="{{product.name}}" />
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ product.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>
                                        {{ product.category.name }} - {{product.brand.name}}
                                    </span>
                                    <p-inputNumber [(ngModel)]="quantities[product.id]"
                                    [ngModelOptions]="{standalone: true}" 
                                    [min]="0" 
                                    [max]="100" 
                                    (onBlur)="addCuantityToProduct($event, product)"
                                    inputId="quantity" 
                                    [style]="{ width: '5rem' }" />
                                </div>
                            </div>
                            <span class="font-bold text-900">
                                {{product.total | currency:'EUR' }}
                            </span>
                        </div>
                    </ng-template>
            </p-pickList>
            </div>
            <div class="flex justify-content-between gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visibleUpt = false" />
                <p-button label="Save" type="submit" />
            </div>
        </form>
    </p-dialog>
    <p-dialog header="Update status" [modal]="true" [(visible)]="visibleUptStatus" [style]="{ width: '25rem' }">
        <form [formGroup]="statusForm" (ngSubmit)="updateStatus(id)">
            <div class="row h-10rem">
                    <p-dropdown styleClass="w-full mb-3" [options]="statusArray" formControlName="status" placeholder="Payment Method">
                    </p-dropdown>
            </div>
            
            <div class="flex justify-content-between gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visibleUptStatus = false" />
                <p-button label="Save" type="submit" />
            </div>
        </form>
    </p-dialog>
</div>